html, body, #root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: #d8d0c7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  width: 100%;
}
